body {
  background-color: #b8b2b2;
  padding: 40px;
}

.App {
  background-color: #250349;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(186, 216, 16, 0.1);
  border-radius: 8px;
}

h1 {
  color: #fff;
  margin-bottom: 20px; 
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item.completed {
  text-decoration: line-through;
  color: #999;
}

.todo-item .delete-button {
  margin-left: 10px;
  background-color: #ff4136;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 20px 20px;
  cursor: pointer;
}

li {
  color: white;
  list-style-type: none;
}

button {
  margin: 8px;
}
